* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    height: 50px;
    background-color: rgb(0, 44, 143);
}

.text-blue {
    color: rgb(0, 44, 143) !important;

}
.slider {
    background: url(/assets/img/background-slide.jpg) no-repeat center / cover;
    height: 500px;
}


.hero {
    width: 100%;
    min-height: 100vh;
    background: url(./images/hero-bg.jpg) top center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    z-index: 3;
}

.house {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    /* padding: 1em 3em 0 3em; */
    /* border: 1px solid black; */
    height: 100px;
    background: #fff;
    border-radius: 4px;
    max-width: 80%;
    margin: auto;
    transform: translateY(-50%);
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

span.icon {
    /* transform: translateY(20px); */
    z-index: 100;
    /* background: #fff; */
    max-width: 30px;
    font-size: 30px;
}

.slide {
display: flex;
gap: 20px;
/* overflow-x: hidden */
}

.item {
    flex-basis: 400px;

}
.item img {
    height: auto;
}


.banner, .bottle, .data, .product {
    background-color: rgb(241, 246, 251);
}
.banner p {
    
}
.banner p::before

{
    content: "";
    position: absolute;
    top: 115px;
    left: 825px;
    width: 50px;
    height: 2px;
    background-color: rgb(33, 182, 255);
}
.banner p::after {
    content: "";
    position: absolute;
    top: 115px;
    left: 644px;
    width: 50px;
    height: 2px;
    background-color: rgb(33, 182, 255);
}

.card-item {
    width: 340px;
    height: 377px;
    position: relative;
    margin: 0px 10px;
}

.card-content {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 270px;
    height: 80px;
}
.card-content h5 {
    padding-top: 23px;
}
.water-next {
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 10px 13px;
    background-color: #fff;
    color: rgb(33, 182, 255);
    cursor: pointer;
    transition: all 0.4s ease 0s;
}


.data p::before

{
    content: "";
    position: absolute;
    top: 63px;
    left: 533px;
    width: 50px;
    height: 2px;
    background-color: rgb(33, 182, 255);
}
.data p::after {
    content: "";
    position: absolute;
    top: 63px;
    left: 713px;
    width: 50px;
    height: 2px;
    background-color: rgb(33, 182, 255);
}


.nav-link {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.4s ease 0s;
    padding: 10px;
}
.navbar-nav li {
    padding: 10px;
}
.navbar-nav li a {
    color: #333 !important;
}
#footer {
    background-image: url(/assets/img/background-service.jpg);
    background-size: cover;
    background-position: center center;
    background-color: rgb(0, 44, 143);
}


/*  Slick */

.slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%, 100%) !important; */
    transform: translateX(-50%);
    bottom: -54px;
    align-items: center;
    justify-content: center;

}
.slick-dots li {
    list-style-type: none;
    margin: 0px 5px;  
}
.slick-dots li button {
    width: 15px;
    height: 10px;
    border-radius: 100px;
    /* background-color: #21b6ff; */
    border: none;
    outline: none;
    font-size: 0px;
}
.slick-dots .slick-active button {
    background-color: #21b6ff;
    width: 50px;
}